<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bhanu' Blog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Udacity Project</h1>
  <p>Bhanu's Blog</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3><a href="/">Top</a></h3>
      <p><a href="/">Home</a></p>
      <p>This Home Button</p>
    </div>
    <div class="col-sm-3">
      <h3><a href="/login">Sign In</a></h3>
      <p><a href="/login">Sign In</a></p>
      <p>This button helps login in to the blog if user exits</p>
    </div>
    <div class="col-sm-3">
      <h3><a href="/Bhanu2/signup">Sign Up</a></h3>
      <p><a href="/Bhanu2/signup">Sign Up</a></p>
      <p>Create Your Account</p>
    </div>
    <div class="col-sm-3">
      <h3><a href="/Bhanu/rot13">Rot 13</a></h3>
      <p><a href="/Bhanu/rot13">Rot 13</a></p>
      <p>To Skip 13 spaces. When write a comment</p>
    </div>

  </div>
</div>

</body>
</html>

